<div class="register_div">
    <div class="child_div">
        <h3 class="center_content">LOGIN</h3>
        <div class="row">
            <div class="col-lg-6">
                <p>Username</p>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="col-lg-6">
                <p>Password</p>
                <input type="text" class="form-control" placeholder="Password" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="center_content">
            <button type="button" class="btn btn-success" (click)="loginHandler()">LOGIN</button>
        </div>
    </div>
</div>