<div class="right-div">
  <div class="card personal-details">
    <p class="text">Personal Details</p>
    <input type="text" class="form-control" placeholder="Personal-details" aria-label="Personal-details">
    <button class="buttons">Update</button>
  </div>
  <div class="card address">
    <p class="text">Default Delivery Address</p>
    <input type="text" class="form-control" placeholder="Address" aria-label="Address">
    <button class="buttons">Change Default Address</button>
  </div>
</div>